#navbar{
    display: flex;
    justify-content: space-around;
    border: 1px solid green;
}

#other{
    display: flex;
    gap: 20px;
}

#container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 50px;
}

img{
    height: 280px;
}